
<div id = "maindiv">
	<h1 >
		Cuida Mascotas
	</h1>

	<div>

			<%= link_to "Log In", user_session_path, class: 'button', id: 'button-page' %>
	</div>

	<div>
			<%= link_to "Sign Up", new_user_registration_path, class: 'button', id: 'button-page'%>

	

	</div>

</div>