 <%= render "agenda_data" %>

<div id = "show-bottom">

<%= link_to "Back: Available Pets", sitters_path, class: 'button', id: 'button-page' %>
<%= link_to "Confirm", sitters_confirmation_path, class: 'button', id: 'button-page' %>



</div>